// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "minecolonies",
  "fields": {
    "colonistnameminimap": {
      "value": "true",
      "type": "BooleanField"
    },
    "visitors": {
      "value": "true",
      "type": "BooleanField"
    },
    "borderminimapstyle": {
      "value": "FRAMED",
      "type": "EnumField"
    },
    "colonyname": {
      "value": "true",
      "type": "BooleanField"
    },
    "colonistteam": {
      "value": "true",
      "type": "BooleanField"
    },
    "borderfullscreenstyle": {
      "value": "FILLED",
      "type": "EnumField"
    },
    "colonisttooltips": {
      "value": "true",
      "type": "BooleanField"
    },
    "colonistnamefullscreen": {
      "value": "true",
      "type": "BooleanField"
    },
    "deathpoints": {
      "value": "true",
      "type": "BooleanField"
    },
    "citizens": {
      "value": "true",
      "type": "BooleanField"
    },
    "guards": {
      "value": "true",
      "type": "BooleanField"
    },
    "raiders": {
      "value": "HOSTILE",
      "type": "EnumField"
    }
  },
  "configVersion": "5.9.18"
}