// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "enabled": "true",
  "showDayNight": "true",
  "minimapLockedMapType": "jm.common.map_type.auto",
  "caveLayer": "4",
  "info1Label": "jm.theme.labelsource.blank",
  "info2Label": "jm.theme.labelsource.blank",
  "info3Label": "jm.theme.labelsource.location",
  "info4Label": "jm.theme.labelsource.biome",
  "infoSlotAlpha": "0.0",
  "infoSlotFontScale": "2.0",
  "gameTimeRealFormat": "HH:mm:ss",
  "systemTimeRealFormat": "HH:mm:ss",
  "reticleOrientation": "Compass",
  "shape": "Circle",
  "sizePercent": "25",
  "frameAlpha": "100",
  "terrainAlpha": "100",
  "backgroundAlpha": "1.0",
  "orientation": "North",
  "compassFontScale": "2.0",
  "showCompass": "true",
  "showReticle": "true",
  "positionX": "0.85733",
  "positionY": "0.01417114",
  "moveEffectIcons": "true",
  "effectTranslateX": "0",
  "effectTranslateY": "191",
  "effectVertical": "false",
  "effectReversed": "false",
  "minimapKeyMovementSpeed": "0.001",
  "position": "Custom",
  "active": true,
  "propertiesId": 1,
  "playerDisplay": "OutlinedIcons",
  "selfDisplayScale": "1.0",
  "playerDisplayScale": "1.0",
  "showPlayerHeading": "true",
  "mobDisplay": "OutlinedIcons",
  "mobDisplayScale": "1.0",
  "showMobHeading": "true",
  "showMobs": "true",
  "showAnimals": "true",
  "showAmbientCreatures": "false",
  "showVillagers": "true",
  "showPets": "true",
  "showPlayers": "true",
  "fontScale": "1.0",
  "showWaypointLabels": "true",
  "waypointLabelScale": "1.0",
  "waypointIconScale": "1.0",
  "locationFormatVerbose": "true",
  "locationFormat": "xzyv",
  "showWaypoints": "true",
  "showSelf": "true",
  "showGrid": "true",
  "showCaves": "true",
  "showPlayerNames": "true",
  "showTeamNames": "true",
  "showEntityNames": "false",
  "showHostileNames": "false",
  "showPassiveNames": "false",
  "showAmbientNames": "false",
  "showPetNames": "false",
  "showNpcNames": "false",
  "showVillagerNames": "false",
  "showNoIconNames": "true",
  "preferredMapType": "day",
  "zoomLevel": "512",
  "configVersion": "6.0.0-beta.18"
}