// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "journeymapteams-vanilla",
  "fields": {
    "team-color": {
      "value": "GREEN",
      "type": "EnumField"
    },
    "show-name-color": {
      "value": "true",
      "type": "BooleanField"
    },
    "show-icon-color": {
      "value": "true",
      "type": "BooleanField"
    },
    "ally-color": {
      "value": "BLUE",
      "type": "EnumField"
    },
    "force-team-color": {
      "value": "false",
      "type": "BooleanField"
    },
    "force-ally-color": {
      "value": "false",
      "type": "BooleanField"
    }
  },
  "configVersion": "5.9.18p1"
}