// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "name": "fwaystones",
  "fields": {
    "displayed": {
      "value": "true",
      "type": "BooleanField"
    },
    "enabled": {
      "value": "true",
      "type": "BooleanField"
    }
  },
  "configVersion": "5.9.3"
}