// jm.config.file_header_1
// jm.config.file_header_2
// jm.config.file_header_5
{
  "shadingSlopeMin": "0.2",
  "shadingSlopeMax": "1.7",
  "shadingPrimaryDownslopeMultiplier": "0.65",
  "shadingPrimaryUpslopeMultiplier": "1.2",
  "shadingSecondaryDownslopeMultiplier": "0.95",
  "shadingSecondaryUpslopeMultiplier": "1.05",
  "tweakMoonlightLevel": "3.5",
  "tweakBrightenDaylightDiff": "0.06",
  "tweakBrightenLightsourceBlock": "1.2",
  "tweakMinimumDarkenNightWater": "0.25",
  "tweakWaterColorBlend": "0.5",
  "tweakSurfaceAmbientColor": "#00001a",
  "tweakNetherAmbientColor": "#330808",
  "tweakEndAmbientColor": "#00001a",
  "configVersion": "6.0.0-beta.18"
}